@media (max-width: 450px) {

    nav{
        display: none;
    }
    #chinarose{
        max-width: 80%;
        left: -28%;
        top: -1%
    }
    #wedding_text{
        font-size: 14vw;
    }
    #horizontal_line {
        min-width: 58%;
    }
    #sdfasd {
        margin-top: 15vh;
        gap: 1em;
    }
    #heart1 {
        max-width: 20%;
    }
    #Group4 {
        flex-direction: column;
        margin-left: 15%;
        gap: 1vw;
        transform: translateY(5vh);
    }
    .names {
        font-size: 13vw;
        line-height: 8vh;
    }
    #Vector {
        max-width: 40%;
    }
    #pinkrose {
        max-width: 190%;
        margin: 0;
        margin-top: 11vh;
        transform: translate(88vw,75%)
    }
    #date_text{
        margin-top: 80%;
        font-size: 50px;
    }
    #heart4 {
        margin-top: 0%;
        max-width:25%;
        transform: translateY(37vh);
    }
    #heart123 {
        justify-content: start;
        margin-left: 10vw;
    }
    .header h3{
        font-size: 7vw;
    }
#block2 {
max-width: 90%;
    margin-top: 30%;
}
#block2_flower {
    max-width: 13%;
    transform: translateY(250%);

}
#block2 p{
    margin-top: 20%;
    font-size: 5vw;
    max-width: 100%;
    line-height: 4vh;
}
.hidden-br {
    display: none;
}
#leaves{
    display: none;
}

.timer__item::before {
    font-size: 1.7vh;
}
#timer_flower {
    position: absolute;
    max-width: 7%;
    transform: translateX(16vw) translateY(0.5vh);
    z-index: 1;
}
.timer__items {
    font-size: 12vw;
}
#block3 .header {
    margin-bottom: 5vh;
}
}