@media (max-width: 450px) {

    nav{
        display: none;
    }
    #chinarose{
        max-width: 80%;
        left: -28%;
        top: -1%
    }
    #wedding_text{
        font-size: 14vw;
    }
    #horizontal_line {
        min-width: 58%;
    }
    #sdfasd {
        margin-top: 15vh;
        gap: 1em;
    }
    #heart1 {
        max-width: 20%;
    }
    #Group4 {
        flex-direction: column;
        margin-left: 15%;
        gap: 1vw;
        transform: translateY(5vh);
    }
    .names {
        font-size: 13vw;
        line-height: 8vh;
    }
    #Vector {
        max-width: 40%;
    }
    #pinkrose {
        max-width: 190%;
        margin: 0;
        margin-top: 11vh;
        transform: translate(88vw,75%)
    }
    #date_text{
        margin-top: 80%;
        font-size: 50px;
    }
    #heart4 {
        margin-top: 0%;
        max-width:25%;
        transform: translateY(37vh);
    }
    #heart123 {
        justify-content: start;
        margin-left: 10vw;
    }
    .header h3{
        font-size: 7vw;
    }
    #block2 {
        max-width: 90%;
        margin-top: 30%;
    }
    #block2_flower {
        max-width: 13%;
        transform: translateY(250%);

    }
    #block2 p{
        margin-top: 20%;
        font-size: 5vw;
        max-width: 100%;
        line-height: 4vh;
    }
    .hidden-br {
        display: none;
    }
    #leaves{
        display: none;
    }

    .timer__item::before {
        font-size: 1.7vh;
    }
    #timer_flower {
        position: absolute;
        max-width: 7%;
        transform: translateX(80px) translateY(0.5vh);
        z-index: 1;
    }
    .timer__items {
        font-size: 12vw;
    }
    #block3 .header {
        margin-bottom: 5vh;
    }
    #block4_flower{
        display: none;
    }
    #block4{
        margin-top: 20%;
    }

    .content_about {
        margin-top: 2%;
        gap: 10%;
    }
    .container_about_man,
    .container_about_woman {
        flex-direction: column;
        gap: 1vw;
        max-width: 80%;
        text-align: center;
    }
    .container_about_woman{
        flex-direction: column-reverse;
    }
    .container_about_woman .container_about_text p{
        align-self: center;
    }
    #man,
    #woman {
        align-self: center;
        max-width: 90%;
        max-height: 50%;
        transform: scale(0.8, 0.8);

    }
    .container_about_text div img{
        max-width: 10vw;
    }
    .container_about_text{
        gap: 1vw;
    }
    .container_about_text p {
        font-size: 4vw;
        max-width: 100%;
        margin: 0;

    }
    .container_about_text h3{
        font-size: 6vw;
    }
    #block4_flower_end {
        max-width: 12%;
        align-self: center;
        margin-left: 0;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .line-with-dots{
        display: none;
    }
    #horizontal_line{
        display: none;
    }
    .timeline{
        display: block;
    }
    
    #block6 {
        margin: 0;
    }

    #timeline_block{
        max-width: 120%;
        margin-top: 1vh;
    }
    #block7{
        margin-top: 10vh; 
    }
    #block7 span{
        margin-top: 2vh;
        font-size: 2.1vh;
        line-height: 4vh;
        max-width: 95%;

    }
    .circles {
        margin-top: 5vh;
        max-width: 90%;
    }
        .circle{
            height: 5vh;
            width: 5vh;
        }
    #pink_flower{
        display: none;
    }
    #leaves_block7{
        display: block;
    }
    .leaves{
        display: none;
    }
    #block8 span {
        font-size: 2vh;
        font-weight: 400;
        line-height: 3vh;
    }
    #map{
        max-width: 100%;
    }
}