@font-face {
    font-family: 'Actinia';
    src: url("../Actinia\\Actinia-Regular.otf") format("opentype");
}
html,
body {
    background-color: #F4F3F1;
    margin: 0;
    padding: 0;
    display: block;
    
    
    /* background-position: center; */
    /* height: 160vh; */
}
html{
    overflow-x: hidden;
}
a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

.content_block {
    margin: auto;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
}
.header_background {
    max-width: 100%;
    align-self: center;
}