
#chinarose {
    position: absolute;
    max-width: 39%;
    left: -4%;
    top: 30px;
}



#abstractbg {
    width: 100%;
    position: absolute;
}

#block1 {
    height: 100vh;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(243, 244, 241, 1) 100%),
    url('/imgs/abstract-green-watercolor-background.png');
        /* linear-gradient(to bottom, #F4F3F1 100%, #F4F3F1 0%) */
        
    background-size: 100% 130%;
    background-repeat: no-repeat;
    
    /* Или любое другое значение */
}

nav {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5vw;
    z-index: 9;
}

#wedding_text {
    padding: 0;
    margin: 0;
    font-family: 'Actinia';
    font-style: normal;
    text-align: center;

    color: #85B089;
    font-weight: 250;
    font-size: 5vw;
    align-self: flex-end;

}

#rightpart {
    text-align: right;
    z-index: 9;

}

nav a p {
    color: #383838;
    font-family: "El Messiri", sans-serif;
    font-weight: 500;
    font-size: 1.33vw;
}

#heart1 {
    max-width: 30%;
}

#wedding_text_heart,
#center,
#sdfasd {
    display: flex;
    justify-content: flex-end;
    align-items: end;

}

#sdfasd {
    margin-top: 1.5em;
    flex-direction: column;
    text-align: right;
    gap: 2em;
    margin-right: 3%;
    float: right;
}

#pinkrose {
    
    position: absolute;
    max-width: 52%;
    right: 0;
    margin: 0;
    margin-top: 8vh;
    transform: translateX(75%);
}

#Group4 {
    display: flex;
    margin-left: 5%;
    gap: 2.7vw;

    justify-content: flex-end;
    align-items: stretch;

    max-width: 80%;
    transform: translateY(-50%);
    position: relative;
}



.names {
    align-self: center;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 500;
    font-size: 5.1vw;
    color: #566660;
    line-height: 20vh;
    margin: 0;
}

#Vector {
    align-self: center;
    max-width: 20%;
}

#date_text {
    font-family: 'Actinia';
    font-style: normal;
    font-weight: 400;
    font-size: 5vw;
    line-height: 6vh;
    color: #85B089;
    text-align: center;
    margin: 0;
    margin-top: 7%;
    margin-left: 12%;
    padding: 0;
    transform: translateY(60%);
}

#heart123 {
    display: flex;
    justify-content: center;
    max-width: 70%;
}

#heart4 {
    margin: 0;
    margin-top: 10%;
    position: absolute;
    max-width: 5%;

}

.centergroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


