@font-face {
    font-family: 'Actinia';
    src: url("../Actinia\\Actinia-Regular.otf") format("opentype");
}
html,
body {
    background-color: #F4F3F1;
    margin: 0;
    padding: 0;
    display: block;
    
    
    /* background-position: center; */
    /* height: 160vh; */
}
html{
    overflow-x: hidden;
}
a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.d-flex {
    display: flex;
}